body{
    margin:0;
    background-color: #f1f0f1;
    box-sizing: border-box;
}

.warpper{
    background-color: #f1f0f1;
    box-sizing: border-box;
}

.header{
    
        background-color: #059;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
}
.header__start{
display: flex;
}
.header__start--1{
    display: flex;
    width: 50%;
    padding-left: 0;
}
.header__start--1--text1{
    list-style: none;
    padding: 0 12px;
    border-right: 1px solid white;
}

.header__start--1--text1--link1{
    text-decoration: none;
    color: white;
}
.header__start--1--text1--link1:hover{
    color:yellow;
}
.iconadd{
    padding: 0 5px;
    
}
.header__start--1--text2{
    list-style: none;
    padding: 0 2px 0  0;
}
.header__start--2{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.header__mid{
    display: flex;
    align-items: center;
    
}
.header__moblie2 {
    width: 50%;
    display: flex;
    align-items: center;
}
.header__mid--logo {
    width: 20%;
}
.header__mid--logo--img {
    display: flex;
    justify-content: center;
}
.header__mid--search {
    width: 100%;
    height: 50%;
 
    background-color: #0687e6;
    border-radius: 5px;
}
.header__mid--searchBE{
display: flex;
}
.header__mid--search--input {
    width: 93%;
    border-radius: 4px;
    border: white;
}
.header__mid--search--button{
    border: white;
    background-color: #0687e6;

}
.header__moblie {
    display: flex;
    justify-content: center;
    width: 50%;
}
.header__mid--icon1{
    margin: 0 12px;
    width: 20%;
}
.header__listmobile{
    display:none;
}
.header__mid--icon1--button{

}
.header__mid--icon1--button--icon{
    display: flex;
    justify-content: center;
    position: relative;
}
.icon{

}
.check-sl{
    position: absolute;
    top: -40%;
    right: 20%;
    background-color: red;
    border-radius: 8px;
}
.header__mid--icon1--text{
    display: flex;
    justify-content: center;

}
.header__mid--logo--img img {
    width: 70%;
    height: auto;
}
.header__hover{
    text-decoration: none;
    color:white;
}
.header__hover:hover{
    color: yellow;
}
.header__listmobile{

}
/* menu mobile */

.nar__overlay{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
    display:none;
    animation: faledn linear 0.3s;
}

.menu__mobile{
position: fixed;
top:0;
left:0;
bottom:0;
width:300px;
max-width: 100%;
background-color: white;
z-index: 1;
transform: translateX(-300px);
opacity: 0;
transition: transfrom linear 0.2s, opacity linear 0.2s;
 }
 .logo__mobile img{
    
        width: 15%;
        height: auto;
        position: absolute;
        left: 230px;
        top: 40px;
        border: 2px solid black;
   
 }
 .menu__mobile--list{
padding:0;
 }
 .menu__mobile--list--li{

color:black;
display: block;
padding:12px 0;
font-size: 1.3rem;
 }
 .menu__mobile--list--li:hover{
background-color: red;
color: white;
 }
 .menu__a{
text-decoration: none;
color: black;
 }
 .nav__mobile--close{
font-size: 1.3rem;
color:#666;
display: flex;
justify-content: end;
padding: 12px;

 }
 .mobile__fromloginloginout{
    display: flex;
   
    padding: 12px;
 }
 .login1 {
    border-right: 1px solid black;
    padding-right: 5px;
}
.login1:hover{
    background-color: red;
    color:white;
}
.login2 {
    padding-left: 5px;
}
.login2:hover{
    background-color: red;
    color:white;
}
.mobile__fromloginloginout .ha a {
    text-decoration: none;
    color:black
}
 .menu__mobile--dm{
    margin: 12px 12px;
   
    border-bottom: 1px solid black;
    background-color: orange;
 }
 .active:hover{
     color:red;

 }
 .thongtin{
    display: flex;
    padding: 12px;
 }  
 .menu__mobile--help {
    border-right: 1px solid black;
    padding-right: 5px;
}
.menu__mobile--info {
    padding-left: 5px;
}
 .nav__mobile--close:hover{
     color:red;
 }
 .nav__input:checked ~ .nar__overlay{
     display: block;
 }
 .nav__input:checked ~ .menu__mobile{
     transform: translateX(0%);
     opacity: 1;
 }
 
  /* container */ 
.container{
    margin-top: 119px;

}
.container__market{

}
.container__market--1{

}
.container__market--1 img{
width:100%;
}
.container__group1{
    display: flex;
    justify-content: center;
}
/* container2 */
.container2{
  
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__column{
    display: flex;
    flex-wrap: wrap;

margin-right: -12px;

}
.container2__list{
padding-left: 12px;
padding-right: 12px;
width: 16.66666667%;

}
.container2__tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 1px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
    color: white;
}
.container2__tittle i{

}
.container2__list--product{
    padding: 0;
    margin: 0;
    background-color: white;
}
.container2__list--product--li{
    list-style: none;
   
    padding: 12px 0;
    
}
.container2__list--product--li:hover{
    background-color: red;
   
 
}
.container2__list--product--a{
    padding: 0 12px;
    text-decoration: none;
 
}
.container2__list--product--a:hover{
    color: white;
}
.grid__column--2{
    padding-left: 12px;
    padding-right: 12px;
    width:78%;
   
}
/* thanh dieu huong */
.grid__tittle{
    background-color: black;
    height: 5%;
   border-radius: 2px;
}
.menu__tittle{
    display: flex;
   
    margin: 0;
}
.menu__tittle--li{
    list-style: none;
    width: 30%;
    display: flex;
    justify-content: center;
}
.menu__tittle--li:hover{
    background-color: red;
}
.menu--a{
    text-decoration: none;
    color: white;
}
/* product */
.grid_column-2-4{
    padding-right: 1px;
    width: 19.5%;
    display: inline-block;
}

.home-product-item{
    display: block;
    position: relative;
    margin-top: 10px;
    text-decoration: none;
    background-color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0.1rem 0.125rem rgba(0,0,0,.1);
    transition: transfrom linear 0.1s;
    will-change: transfrom;
}
.home-product-item:hover{
    transform: translateY(-10px);
    box-shadow: 0 1px 20px rgba(0,0,0,0.05);
}
.home-product-item-img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home-product-item-name{
    font-size: 1.4rem;
    font-weight: 400;
    color: black;
    line-height: 1.8rem;
    height: 1.8rem;
    margin: 10px 10px 4px;
    overflow: hidden;
    display: block;
    
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home-product-item_price{
    display: flex;
   
    align-items: baseline;
    flex-wrap:  wrap;
}
.home-product-item_price-old{
     margin-left: 10px;
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
}
.home-product-item_price-current{
    font-size: 1.6rem;
    color: red;
    margin-left: 8px;
}
.home-product-item_action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0px;
}
.home-product-item_heart-like{
    color: red;
    font-size: 1.4rem;
}
i.home-product-item_heart-like-icon-fill{
    color: red;
    display: none;
}
.home-product-item_heart-like .home-product-item_heart-liked-icon-fill{
    display: inline-block
}
.home-product-item_heart-like .home-product-item_heart-like-icon-emty{
    display: none;
}
.home-product-item_rating{
   font-size: 0.5rem; 
   transform-origin: right;
   margin-left: auto;
   position: relative;
   top: 9px;
}
.home-product-item_rating-gold{
    color: gold;
}
.home-product-item_sold{
    font-size: 1.4rem;
    color: black;
    margin-left: 4px;
}
.home-product-item_origin{
    display: flex;
    justify-content: space-between;
   margin: 3px  10px 0;
   color: #595959;
   font-size: 1.2rem;
   font-weight: 300;
}
.home-product-item-name{
    margin-left: auto;
}



.home-product-item_favourite{
    position: absolute;
    top: 25px;
    left: -6px;
    color: white;
    background-color: red;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
}
.home-product-item_favourite i{
    font-size: 0.9rem;
    margin: 0 2px 5px 5px;
}
.home-product-item_sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 36px;
    text-align: center;
    background-color: gold;
    
}
.home-product-item_sale-off-pecent{
    color: red;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
}
.home-product-item_sale-off-label{
   color: black;
    font-size: 1.3rem;
    line-height: 1.3rem;
        position: relative;
        top:-8px;
        right: -1px;
}
/*pagination*/
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    
}
.pagination_item{
    
}
ul.pagination.home-product-pagination{
    margin: 40px 0px 32px 0px;
}
.pagination_item_active .pagination_item_link{
    color: white;
    background-color: red; 
}
.pagination_item_link{
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    color: #939393;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center; 
}
.pagination_item_icon{
    
}
/*footer*/
.container-footer{
    max-width: 1170px;
  
    margin: auto ;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}
.footer-col ul{
    list-style: none;
    padding: 0;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 22.4% ;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom:-10px;
    background-color: #e91e63;
    height:2px;
    box-sizing: border-box;
    width:50px;
}
.footer-col ul li{
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
     text-transform: capitalize;
     color: white;
     text-decoration: none;
     font-weight: 300;
     color:#bbbbbb;
     display: block;
     transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: white;
    padding-left: 8px;
}
.footer-col .footer-icon a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:white;
    transition: all 0.3s ease;
}
.footer-col .footer-icon a:hover{
    color:#24262b;
    background-color: white;
}
/* detail */
.grid_column-8{
    padding-left: 12px;
   padding-right: 2px;
   margin-bottom: 10px;
  width: 74.1667%;
}
.row{
    display: inline-flex;
}
.col-2-1{
    width: 50%;
    padding-right: 5px;
    background-color: whitesmoke;
}
.col-2-1 img{
    width: 100%;
}
.col-2{
    border: 1px solid black;
    background-color: white;
}
.col-2 .sl-class{
    width: auto;
    border-radius: 5px;
    border-style: none;
    background-color: lightgray
}
.col-2 h1{
    display: flex;
    justify-content: center;
}
.col-2 select{
    font-size: 20px;
    border: 5px solid;
}
.col-2 .cart{
        display: flex;
    justify-content: center;
    /* align-content: center; */
    margin-top: 20%;
}
.col-2 .mid{
        display: flex;
    justify-content: center;
    /* align-items: initial; */
    /* justify-items: center; */
    margin-top: 10%;
}
.col-2 .new{
        display: flex;
    justify-content: center;
    font-size: 35px;
    color:red;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: lightgray;
}
.col-2  .old{
     display: flex;
    justify-content: center;
    font-size: 35px;
    color:red;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #666;
    text-decoration: line-through;
        background-color: lightgray;
}
 a.btn.add1{
    background-color: yellowgreen;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    text-decoration: none;
    font-size: 20px;
    color: beige;
}
a.btn.add1:hover{
    color:yellow;
}
a.btn{
    background-color: red;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    text-decoration: none;
    font-size: 20px;
    color: beige;
}
a.btn:hover{
    color:yellow;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    height: 20%;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.col-2-1  img{
    width: 100%;
    height: 79%;
}
.discrption{
    background-color: white;
    width: 91.5%;
} 

/* responsive */
/* mobile */
@media only screen and (max-width: 62.5em) {
    .header__start--1--text1 {
        list-style: none;
        padding: 0 5px;
        border-right: 1px solid white;
    }
    .header__start {
        display: none;
    }
    .header__mid {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .container {
        margin-top: 83px;
    }
    .header__moblie2 {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .header__moblie {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header__mid--icon1 {
        margin: 0 12px;
        width: 30%;
    }
    .header__listmobile{
        display:block;
    }
    .header__mid--icon1--button--icon:hover{
        color:yellow;
    }
    .header__mid--icon1--text {
        display: none;
       
    }
    .header__mid--icon1 {
        margin: 0 12px;
        width: 30%;
    }
    .container__group1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .grid__column {
        display: flex;
        flex-wrap: wrap;
        margin-right: -12px;
    }
    .container2__list {
        
        display: none;
    }
    .grid__column--2 {
        padding-left: 12px;
        padding-right: 12px;
        width: 100%;
    }
    .grid__tittle {
        background-color: black;
        /* width: 100%; */
        height: auto;
        margin-right: 12px;
        border-radius: 2px;
        /* display: flex; */
    }
    .menu__tittle {
        display: flex;
        margin: 0;
        padding-left: 0;
    }
    .menu__tittle--li {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .menu--a {
        text-decoration: none;
        color: white;
        font-size: 13px;
      
    }
    .menu__a {
        text-decoration: none;
        color: black;
        padding-left: 16px;
    }
    .grid_column-2-4 {
        padding-right: 1px;
        width: 48%;
        display: inline-block;
    }
    .home-product-item_sold {
        
        display: none;
    }
    .home-product-item-name {
        font-size: 15px;
        font-weight: 400;
        color: black;
        line-height: 1.8rem;
        height: 1.8rem;
        margin: 10px 10px 4px;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .home-product-item_favourite {
       
        position: absolute;
        top: 1px;
        left: -6px;
        color: white;
        background-color: red;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.6rem;
    }
    
    .footer-col {
        width: 40%;
        padding: 0 15px;
    }
    .iconadd{
        padding: 0 5px;
        font-size: 20px;
    }
 }
 /* tablet */
 @media only screen and(min-width: 46.25em) and (max-width:63.9375em){
  
 }
 @keyframes faledn{
     from{
         opacity: 0;
     }
     to{
         opacity: 1;
     }
 }